     * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    } 
    section {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    #carouselExampleCaptions {
        background-image: url(../img/Recurso4.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        background-size: cover;
    } 

    .navbar-nav {
        align-items: center;
        justify-content: center;
    }
.container-fluid {
    
}
/* #HOME {
    background-image: url(../img/D_NQ_NP_2X_935506-MLA46975173484_082021-F.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
.h1carrusel {
   font-size: 0;
}
.carousel-control-prev-icon {
    background-image: url(../img/angulo-izquierdo.png);
}
.carousel-control-next-icon {
    background-image: url(../img/angulo-derecho.png);
}
#quienessomos {
    margin: auto auto;
    max-width: 1500px;
}

.btn-primary {
    background-color :var(	--bs-info);
        --bs-btn-color: #ffffff; 
        text-shadow: 2px 1px 7px #087c9f ;
        --bs-btn-border-color: var(	--bs-info);
}

.btn-outline-secondary{
    background-color: #CBE300;
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: none;

}
.colorB{
    background-color: #087c9f!important;
}

.container-fluid2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center ;
}
.btnconocemas {
    max-width: 150px;
}


h2{ 
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.ipadprogen5 {
    text-align: center;  
}
h4 {
    padding: 5%;
    text-align: center;
}
div [class*="card shadow-sm"]{
    min-width: 250px;
}
.acomentarios {
    color: black;
    text-decoration: none;
}


.p-5 {
    padding: 1rem!important ;
}

.py-5 {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
}

.carousel-control-icon-prev {
    background-color: #000000;
}

.carousel-control-icon-next {
    background-color: #000000;
}


.imgproductodiseño {
  width: 100%;
}

.modal-header {
    display: flex;
    flex-direction: column;

}


.text-bg-dark {
    color: #fff!important;
    background-color: #FF3D70!important;
            
}


div.card {
    align-self: stretch;
    }
      


.col {
     display: flex;  
     align-items: stretch;   
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#galeria {
    background-image: url(../img/MOBILE1.png);
    
}

.video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
iframe {
    border: 0;
    width: 90%;
    height: 320px;
}

.formulario {
    background-image: url(../img/WEB.png);
    margin: auto;
    border-radius: 10px;
}
.botonenviar {
    margin: 10px;
    margin-right: 50px;
    float: right;
}

.primerLetra::first-letter {
    color: #CBE300;
    font-weight: 900;
    font-size: 2.5rem;
  }

  #contacto {
   display: flex;
   justify-content: center;
   flex-direction: column;
    max-width: 1000px;
    margin: auto;
  }



/* FOOTER */
footer {
    background-image: url(../img/MOBILE1.png);
    background-position: bottom;
    color: rgb(0, 0, 0);
}
.datosalumno1 {
    
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding-top: 20px;
   margin: auto;
   max-width: 160px;
   
}
.datosalumno2 {
    list-style: none;
    
}
.datosalumno2 > li {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: medium;
}

.data-alumnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0px!important;
}


.email {
    color: #FF3D70;
}
.card-img-top {
    background-color: #CBE300;
    width: 100%;

}
.fotoperfil {
    width: 152px;
}
.redes {
margin: auto;
   list-style: none;
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
   padding-left: 0px;
}
/* .redes:hover {
    
}  */

/* FOOTER */

@media (min-width:400px) and (max-width:576px){
#HOME {
    height: 500px;
            
}
.w-100 {
    max-width: 400px;
}

.row-cols-md-3>* {
    flex: 0 0 auto;
    width: 100%;
}

.row-cols-sm-2>* {
    flex: 0 0 auto;
    width: 100%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-alumnos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

}

footer {
    background-image: url(../img/TABLET.png);
    background-position: bottom;
    color: rgb(0, 0, 0);
}
    

@media (min-width:576px) and (max-width: 770px){
#HOME {
    max-height: 550px;
}

div .col {
    width: 100%;
    margin-left: 0%;
}


.w-100 {
    max-width: 400px!important;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex!important;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.row-cols-md-3>* {
    flex: 0 0 auto;
    width: 50%;
}

.row-cols-sm-2>* {
    flex: 0 0 auto;
    width: 100%;
}

.g-3, .gx-3 {
    --bs-gutter-x: 5rem!important;
} 
#productos {
    background-image: url(../img/TABLET.png);
   
} 

footer {
    background-image: url(../img/TABLET.png);
    color: rgb(0, 0, 0);
}
    
.data-alumnos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

}

@media (min-width: 770px) and (max-width: 992px){

#carouselExampleCaptions {
    background-image: url(../img/grande.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.nav-item {
    padding-left: 30px;
}

#HOME {
    height: 600px;
}

.w-100 {
    max-width: 400px!important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex!important;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.row-cols-md-3>* {
    flex: 0 0 auto;
    width: 50%!important;
}
    
.row-cols-sm-2>* {
    flex: 0 0 auto;
    width: 100%;
}
    
.g-3, .gx-3 {
    --bs-gutter-x: 3rem!important;
} 
#productos {
    background-image: url(../img/TABLET.png);
     
}     

footer {
    background-image: url(../img/WEB.png);
    color: rgb(0, 0, 0);
}
    
.data-alumnos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

}


@media (min-width: 992px) and (max-width: 2000px){
   
#carouselExampleCaptions {
    background-image: url(../img/grande.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
   
   
   
.collaps {
    justify-content: space-evenly;
}

.navbar-expand-lg .navbar-collapse {
      justify-content: center;        
}

.nav-item{
    padding-right: 35px;

}
.w-100 {
    max-width: 400px!important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex!important;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#productos {
    background-image: url(../img/WEB.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}


footer {
    background-image: url(../img/WEB.png);
    color: rgb(0, 0, 0);
}

.data-alumnos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

}

@media (min-width: 2000px){

#carouselExampleCaptions {
    background-image: url(../img/grande.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

   
.collaps {
    justify-content: space-evenly;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center; 
}
.nav-item{
    padding-right: 35px;
}
.w-100 {
    max-width: 400px!important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex!important;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#productos {
    background-image: url(../img/WEB.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
.data-alumnos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



footer {
    background-image: url(../img/WEB.png);
    color: rgb(0, 0, 0);
}
}

    

